<div class="containerForm">

    <div class="titoloForm">Scrivi Email</div>

    <mat-form-field appearance="outline">
        <mat-label>Mittente</mat-label>
        <input matInput [disabled]="mittenteIsDisabled" value={{mittente}} id="mittente">
    </mat-form-field><br>

    <mat-form-field appearance="outline">
        <mat-label>Destinatario</mat-label>
        <input matInput [disabled]="destinatarioIsDisabled" value={{destinatario}} id="destinatario">
    </mat-form-field><br>

    <mat-form-field appearance="outline">
        <mat-label>Oggetto</mat-label>
        <input matInput [disabled]="oggettoIsDisabled" value={{oggetto}} id="oggetto">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Contenuto Email</mat-label>
        <textarea matInput [disabled]="contenutoEmailIsDisabled" value={{contenutoEmail}} rows="8" cols="10" id="contenuto">{{contenutoEmail}}</textarea>
    </mat-form-field><br>

    <button mat-raised-button color="primary" (click)="handleInputClick()" matDialogClose>Invia</button>

</div>