.containerMessageViewer {
    height: 50%;
    background-color: rgb(211, 211, 211, 0.2);
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}

.containerMail {
    padding: 1%;
    /* background-color: rgb(255, 0, 0, 0.1); */
}

.oggettoMail {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.mittenteMail {
    font-weight: bold;
    margin-bottom: 5px;
}

.destinatarioMail, .dataMail {
    font-style: oblique;
    font-size: 12px;
}

.dataMail {
    margin-bottom: 5px;
}

.contenutoMail {
    background-color: rgb(200, 200, 200, 0.8);
    padding: 3%;
    margin: 1%;
    margin-top: 2%;
    border-radius: 10px;
}