<div class="containerMessageViewer">
    
    <div class="containerMail">

        <div class="oggettoMail">{{mailToShow.object}}</div>
        <div class="mittenteMail">Da: {{mailToShow.from}}</div>
        <div class="destinatarioMail">A: {{mailToShow.to}}</div>
        <div class="dataMail">{{mailToShow.data}}</div>

        <app-message-actions 
            [mail]="mailToShow"
            (mandaCancellazione)="handleCancellaMail($event)"
        >
        </app-message-actions>

        <div class="contenutoMail">
            {{mailToShow.content}}
        </div>

    </div>

</div>