.listTitle {
    font-weight: bold;
    text-decoration: underline;
}

.folderSelected {
    font-weight: bold;
}

.folderNotSelected {
    cursor: pointer;
}

.folderNotSelected:hover {
    font-weight: bold;
}