<ng-container *ngIf="finishedLoading"> 

    <app-header-toolbar></app-header-toolbar>

    <mat-drawer-container class="containerSidenav">

        <mat-drawer mode="side" opened class="sidenavLeft"> 

            <app-folder-list (cartellaSelezionata)="onCartellaSelezionata($event)"></app-folder-list>

        </mat-drawer>

        <mat-drawer-content class="sidenavRight"> 

            <div [ngSwitch]="toShow">

                <app-message-list 
                    *ngSwitchCase="'Inviata'" [mailList]="inviate" [mailFolder]="'Inviata'" (mailSelezionata)="onMailSelezionata($event)">
                </app-message-list>
                <app-message-list 
                    *ngSwitchCase="'Cestino'" [mailList]="cancellate" [mailFolder]="'Cestino'" (mailSelezionata)="onMailSelezionata($event)">
                </app-message-list>
                <app-message-list 
                    *ngSwitchCase="'Preferiti'" [mailList]="preferiti" [mailFolder]="'Preferiti'" (mailSelezionata)="onMailSelezionata($event)">
                </app-message-list>
                <app-message-list 
                    *ngSwitchDefault [mailList]="ricevute" [mailFolder]="'Ricevute'" (mailSelezionata)="onMailSelezionata($event)">
                </app-message-list>

            </div>

            <app-message-viewer 
                [mailToShow]="firstMailToShow"
                [selectedFolder]="toShow"
                (datiCancellazione)="onCancellazioneMail($event)"
            >
            </app-message-viewer>

        </mat-drawer-content>

    </mat-drawer-container>

</ng-container>