.containerHeader {
    text-align: center;
    background-color: rgb(0, 211, 211, 0.2);
    padding: 2%;
    border-radius: 10px;
}

.containerSidenav {
    height: 90%;
}

.testoHeader {
    font-size: 30px;
}

.sidenavLeft {
    background-color: rgb(211, 211, 211, 0.2);
    margin: 1% 2% 0 0;
    padding: 2%;
    border-radius: 10px;
}