<!-- <div class="containerHeader">
    <p class="testoHeader">mail-view-component</p>
</div> -->
<app-header-toolbar></app-header-toolbar>

<mat-drawer-container class="containerSidenav">

    <mat-drawer mode="side" opened class="sidenavLeft">
        <app-folder-list (cartellaSelezionata)="onCartellaSelezionata($event)"></app-folder-list>
    </mat-drawer>

    <mat-drawer-content class="sidenavRight"> <!-- PARTE DESTRA -->

        <div [ngSwitch]="toShow">

            <app-message-list 
                *ngSwitchCase="'Inviata'" [mailList]="mailInviate" (mailSelezionata)="onMailSelezionata($event)">
            </app-message-list>
            <app-message-list 
                *ngSwitchCase="'Cestino'" [mailList]="" (mailSelezionata)="onMailSelezionata($event)">
            </app-message-list>
            <app-message-list 
                *ngSwitchDefault [mailList]="mailRicevute" (mailSelezionata)="onMailSelezionata($event)">
            </app-message-list>

        </div>

        <app-message-viewer [mailToShow]="firstMailToShow"></app-message-viewer>

    </mat-drawer-content>

  </mat-drawer-container>