.containerHeader {
    text-align: center;
    padding: 2%;
    background-color: rgb(255, 255, 0, 0.4);
}

.containerSidenav {
    height: 90%;
}

.testoHeader {
    font-size: 30px;
}

.sidenavLeft {
    background-color: rgb(255, 0, 0, 0.4);
    padding: 3%;
}