<ng-template *ngIf = 'thereAreMails; then casoTrue else casoFalse'></ng-template>

<ng-template #casoTrue> <!-- Case True -->

    <div class="containerMessageList">

        <mat-selection-list [multiple]="false">
            <mat-list-option 
                *ngFor="let mail of mailListPageSliced; first as isFirst" 
                [selected]="isFirst" 
                (click)="onSelectedMail(mail)" 
                class="singolaMail">
                    <ng-container *ngIf="isTheStarToShow">
                        <i (click)="onFavouriteClick(mail)" [ngClass]="mail['isFavourite'] == false? 'material-icons star' : 'material-icons starSelected' ">
                            star_border
                        </i>
                    </ng-container>
                    <span class="destinatarioMail">{{mail['from']}}</span>, 
                    <span class="oggettoMail">{{mail['object']}}</span>
                    <span class="dataMail">{{mail['data'] | date:'d MMM, y - HH:mm'}}</span>
            </mat-list-option>
    
            <mat-paginator 
                class="mat-paginator"
                [length]="this.mailList.length"
                [pageSize]="4"
                (page)="onPageChange($event)">
            </mat-paginator>
        </mat-selection-list>
    
    </div>

</ng-template>

<ng-template #casoFalse> <!-- Case False -->

    <div class="containerMessageList">
        <p class="messaggioNoMail">Non ci sono e-mail da mostrare!</p>
    </div>

</ng-template>