/* @import '~material-design-icons-iconfont/src/material-design-icons'; */

.containerMessageList {
    height: 250px;
    background-color: rgb(211, 211, 211, 0.2);
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

.star {
    font-size:18px;
    margin-right: 4%;
    vertical-align: text-bottom;
}

.star:hover {
    color: red;
}

.starSelected {
    color: red;
    font-size:18px;
    margin-right: 4%;
    vertical-align: text-bottom;
}

.destinatarioMail {
    font-size: 15px;
    font-weight: bold;
}

.oggettoMail, .dataMail {
    font-style: oblique;
    font-size: 14px;
}

.dataMail {
    float: right;
}

.mat-paginator {
    /* background-color: rgb(211, 211, 211, 0.2); */
    background-color: transparent;
    color: rgb(63, 81, 181);
    /* height: 40px; */
}