.containerMessageList {
    height: 250px;
    background-color: rgb(211, 211, 211, 0.2);
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

.destinatarioMail {
    font-size: 15px;
    font-weight: bold;
}

.oggettoMail, .dataMail {
    font-style: oblique;
    font-size: 14px;
}

.dataMail {
    float: right;
}